In [58]:
import pandas as pd

In [59]:
df = pd.read_csv('Financial+Aid+for+Nonresident+Alien+Undergraduates+(August,+2019) - modified.csv')

In [60]:
df.head()

,Institution,Total Cost of Attendance,Full-Time Undergrads,Full-Time Nonresident Aliens,Percentage of Nonresident Aliens to All Undergrads,Policy: Need-based,Policy: Merit,Policy: No aid,Percentage of Nonresident Aliens Receiving Aid1,Average Aid Award,Average Cost with Aid,Expected Cost,Go-To School,Source
0,U. of Massachusetts - Amherst,"31,000","21,481","1,622",8%,NaN,x,NaN,53%,"9,142","21,858","26,175",x,CDS 2018-2019
1,U. of Alabama,"26,482","29,822",589,2%,NaN,x,NaN,17%,"32,586","-6,104","20,894",NaN,CDS 2018-2019
2,New C. of Florida,"20,650",808,5,1%,NaN,x,NaN,100%,"23,954","-3,304","-3,304",NaN,CDS 2018-2019
3,U. of Maine - Orono,"25,088","8,126",170,2%,NaN,x,NaN,76%,"25,481",-393,"5,752",NaN,CDS 2018-2019
4,U. of Florida,0,"30,887",742,2%,NaN,NaN,x,0%,0,0,0,x,CDS 2018-2019

In [61]:
df.drop(columns={'Go-To School'}, inplace=True)

In [62]:
test = df.columns[5]

In [63]:
' '.join(test.split())

'Policy: Need-based'

In [64]:
spacer = lambda str: ' '.join(str.split())

In [65]:
spacer

In [66]:
df.columns

Index(['Institution', 'Total Cost of Attendance', 'Full-Time Undergrads',
       'Full-Time Nonresident Aliens ',
       'Percentage of Nonresident Aliens to All Undergrads',
       'Policy:          Need-based', 'Policy:        Merit',
       'Policy:             No aid',
       'Percentage of Nonresident Aliens Receiving Aid1', 'Average Aid Award',
       'Average Cost with Aid', 'Expected Cost', 'Source'],
      dtype='object')

In [67]:
spacer('Policy:          Need-based')

'Policy: Need-based'

In [68]:
array = df.columns.values

In [69]:
df.columns.str.replace(r'\s+', ' ', regex=True)

Index(['Institution', 'Total Cost of Attendance', 'Full-Time Undergrads',
       'Full-Time Nonresident Aliens ',
       'Percentage of Nonresident Aliens to All Undergrads',
       'Policy: Need-based', 'Policy: Merit', 'Policy: No aid',
       'Percentage of Nonresident Aliens Receiving Aid1', 'Average Aid Award',
       'Average Cost with Aid', 'Expected Cost', 'Source'],
      dtype='object')

In [70]:
df.columns = df.columns.str.replace(r'\s+', ' ', regex=True)

In [71]:
df.columns

Index(['Institution', 'Total Cost of Attendance', 'Full-Time Undergrads',
       'Full-Time Nonresident Aliens ',
       'Percentage of Nonresident Aliens to All Undergrads',
       'Policy: Need-based', 'Policy: Merit', 'Policy: No aid',
       'Percentage of Nonresident Aliens Receiving Aid1', 'Average Aid Award',
       'Average Cost with Aid', 'Expected Cost', 'Source'],
      dtype='object')

In [72]:
df.columns = df.columns.str.replace('Percentage of Nonresident Aliens Receiving Aid1', 'Percentage of Nonresident Aliens Receiving Aid')

In [73]:
df.columns = df.columns.str.replace('aid', 'Aid')

In [74]:
df.columns

Index(['Institution', 'Total Cost of Attendance', 'Full-Time Undergrads',
       'Full-Time Nonresident Aliens ',
       'Percentage of Nonresident Aliens to All Undergrads',
       'Policy: Need-based', 'Policy: Merit', 'Policy: No Aid',
       'Percentage of Nonresident Aliens Receiving Aid', 'Average Aid Award',
       'Average Cost with Aid', 'Expected Cost', 'Source'],
      dtype='object')

In [75]:
df.head()

,Institution,Total Cost of Attendance,Full-Time Undergrads,Full-Time Nonresident Aliens,Percentage of Nonresident Aliens to All Undergrads,Policy: Need-based,Policy: Merit,Policy: No Aid,Percentage of Nonresident Aliens Receiving Aid,Average Aid Award,Average Cost with Aid,Expected Cost,Source
0,U. of Massachusetts - Amherst,"31,000","21,481","1,622",8%,NaN,x,NaN,53%,"9,142","21,858","26,175",CDS 2018-2019
1,U. of Alabama,"26,482","29,822",589,2%,NaN,x,NaN,17%,"32,586","-6,104","20,894",CDS 2018-2019
2,New C. of Florida,"20,650",808,5,1%,NaN,x,NaN,100%,"23,954","-3,304","-3,304",CDS 2018-2019
3,U. of Maine - Orono,"25,088","8,126",170,2%,NaN,x,NaN,76%,"25,481",-393,"5,752",CDS 2018-2019
4,U. of Florida,0,"30,887",742,2%,NaN,NaN,x,0%,0,0,0,CDS 2018-2019

In [76]:
df.set_index('Institution', inplace=True)

In [77]:
df.loc[:, 'Policy: Merit'].replace('x', 'True', inplace=True)

In [78]:
df.loc[:, 'Policy: Need-based'].replace('x', 'True', inplace=True)

In [79]:
import numpy as np

In [80]:
df.loc[:, 'Policy: Merit'].replace(np.nan, 'False', inplace=True)

In [81]:
df.loc[:, df.columns.str.contains('Policy')] = df.loc[:, df.columns.str.contains('Policy')].replace({np.nan: False, 'x': True})

In [82]:
df.head()

,Total Cost of Attendance,Full-Time Undergrads,Full-Time Nonresident Aliens,Percentage of Nonresident Aliens to All Undergrads,Policy: Need-based,Policy: Merit,Policy: No Aid,Percentage of Nonresident Aliens Receiving Aid,Average Aid Award,Average Cost with Aid,Expected Cost,Source
Institution,,,,,,,,,,,,
U. of Massachusetts - Amherst,"31,000","21,481","1,622",8%,False,True,False,53%,"9,142","21,858","26,175",CDS 2018-2019
U. of Alabama,"26,482","29,822",589,2%,False,True,False,17%,"32,586","-6,104","20,894",CDS 2018-2019
New C. of Florida,"20,650",808,5,1%,False,True,False,100%,"23,954","-3,304","-3,304",CDS 2018-2019
U. of Maine - Orono,"25,088","8,126",170,2%,False,True,False,76%,"25,481",-393,"5,752",CDS 2018-2019
U. of Florida,0,"30,887",742,2%,False,False,True,0%,0,0,0,CDS 2018-2019

In [83]:
df

,Total Cost of Attendance,Full-Time Undergrads,Full-Time Nonresident Aliens,Percentage of Nonresident Aliens to All Undergrads,Policy: Need-based,Policy: Merit,Policy: No Aid,Percentage of Nonresident Aliens Receiving Aid,Average Aid Award,Average Cost with Aid,Expected Cost,Source
Institution,,,,,,,,,,,,
U. of Massachusetts - Amherst,"31,000","21,481","1,622",8%,False,True,False,53%,"9,142","21,858","26,175",CDS 2018-2019
U. of Alabama,"26,482","29,822",589,2%,False,True,False,17%,"32,586","-6,104","20,894",CDS 2018-2019
New C. of Florida,"20,650",808,5,1%,False,True,False,100%,"23,954","-3,304","-3,304",CDS 2018-2019
U. of Maine - Orono,"25,088","8,126",170,2%,False,True,False,76%,"25,481",-393,"5,752",CDS 2018-2019
U. of Florida,0,"30,887",742,2%,False,False,True,0%,0,0,0,CDS 2018-2019
...,...,...,...,...,...,...,...,...,...,...,...,...
Wesleyan U.,"73,000","2,918",364,12%,True,True,False,24%,"64,017","8,983","57,347",CDS 2018-2019
Western Washington U.,NaN,"13,840",165,1%,False,False,False,41%,"3,591",NaN,NaN,CDS 2018-2019
Willamette U.,"65,964","1,604",13,1%,False,False,False,0%,NaN,NaN,"65,964",CDS 2018-2019
William Jewell C.,NaN,NaN,NaN,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
Wofford C.,NaN,NaN,NaN,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN

In [84]:
df.loc[:, df.columns.str.contains('Full-Time')] = df.loc[:, df.columns.str.contains('Full-Time')].replace(r',', '', regex=True)

In [85]:
df

,Total Cost of Attendance,Full-Time Undergrads,Full-Time Nonresident Aliens,Percentage of Nonresident Aliens to All Undergrads,Policy: Need-based,Policy: Merit,Policy: No Aid,Percentage of Nonresident Aliens Receiving Aid,Average Aid Award,Average Cost with Aid,Expected Cost,Source
Institution,,,,,,,,,,,,
U. of Massachusetts - Amherst,"31,000",21481,1622,8%,False,True,False,53%,"9,142","21,858","26,175",CDS 2018-2019
U. of Alabama,"26,482",29822,589,2%,False,True,False,17%,"32,586","-6,104","20,894",CDS 2018-2019
New C. of Florida,"20,650",808,5,1%,False,True,False,100%,"23,954","-3,304","-3,304",CDS 2018-2019
U. of Maine - Orono,"25,088",8126,170,2%,False,True,False,76%,"25,481",-393,"5,752",CDS 2018-2019
U. of Florida,0,30887,742,2%,False,False,True,0%,0,0,0,CDS 2018-2019
...,...,...,...,...,...,...,...,...,...,...,...,...
Wesleyan U.,"73,000",2918,364,12%,True,True,False,24%,"64,017","8,983","57,347",CDS 2018-2019
Western Washington U.,NaN,13840,165,1%,False,False,False,41%,"3,591",NaN,NaN,CDS 2018-2019
Willamette U.,"65,964",1604,13,1%,False,False,False,0%,NaN,NaN,"65,964",CDS 2018-2019
William Jewell C.,NaN,NaN,NaN,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
Wofford C.,NaN,NaN,NaN,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN

In [86]:
df.columns = df.columns.str.replace(r'Full-TIme', 'Full-Time', regex=True)

In [87]:
df.iloc[:,0] = df.iloc[:,0].str.replace(',','')

In [88]:
df.iloc[:,1] = df.iloc[:,0].str.replace(',','').astype('float')

In [89]:
df.iloc[:,0] = df.iloc[:,0].astype('float')

In [90]:

df.iloc[:,2] = df.iloc[:,2].str.replace(',','').astype('float')

In [91]:
df.tail()

,Total Cost of Attendance,Full-Time Undergrads,Full-Time Nonresident Aliens,Percentage of Nonresident Aliens to All Undergrads,Policy: Need-based,Policy: Merit,Policy: No Aid,Percentage of Nonresident Aliens Receiving Aid,Average Aid Award,Average Cost with Aid,Expected Cost,Source
Institution,,,,,,,,,,,,
Wesleyan U.,73000.0,73000.0,364.0,12%,True,True,False,24%,"64,017","8,983","57,347",CDS 2018-2019
Western Washington U.,NaN,NaN,165.0,1%,False,False,False,41%,"3,591",NaN,NaN,CDS 2018-2019
Willamette U.,65964.0,65964.0,13.0,1%,False,False,False,0%,NaN,NaN,"65,964",CDS 2018-2019
William Jewell C.,NaN,NaN,NaN,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
Wofford C.,NaN,NaN,NaN,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN

In [92]:
df.iloc[:,3] = df.iloc[:,3].str.replace('%','').astype('float')

In [93]:

df.iloc[:,7] = df.iloc[:,7].str.replace('%','').astype('float')

In [94]:

df.iloc[:,8] = df.iloc[:,8].str.replace(',','').astype('float')

In [95]:

df.iloc[:,9] = df.iloc[:,9].str.replace(',','').astype('float')

In [96]:

df.iloc[:,10] = df.iloc[:,10].str.replace(',','').astype('float')

In [97]:
df.head()

,Total Cost of Attendance,Full-Time Undergrads,Full-Time Nonresident Aliens,Percentage of Nonresident Aliens to All Undergrads,Policy: Need-based,Policy: Merit,Policy: No Aid,Percentage of Nonresident Aliens Receiving Aid,Average Aid Award,Average Cost with Aid,Expected Cost,Source
Institution,,,,,,,,,,,,
U. of Massachusetts - Amherst,31000.0,31000.0,1622.0,8.0,False,True,False,53.0,9142.0,21858.0,26175.0,CDS 2018-2019
U. of Alabama,26482.0,26482.0,589.0,2.0,False,True,False,17.0,32586.0,-6104.0,20894.0,CDS 2018-2019
New C. of Florida,20650.0,20650.0,5.0,1.0,False,True,False,100.0,23954.0,-3304.0,-3304.0,CDS 2018-2019
U. of Maine - Orono,25088.0,25088.0,170.0,2.0,False,True,False,76.0,25481.0,-393.0,5752.0,CDS 2018-2019
U. of Florida,0.0,0.0,742.0,2.0,False,False,True,0.0,0.0,0.0,0.0,CDS 2018-2019

In [98]:
df.iloc[:,0].astype('float')

Institution
U. of Massachusetts - Amherst    31000.0
U. of Alabama                    26482.0
New C. of Florida                20650.0
U. of Maine - Orono              25088.0
U. of Florida                        0.0
                                  ...
Wesleyan U.                      73000.0
Western Washington U.                NaN
Willamette U.                    65964.0
William Jewell C.                    NaN
Wofford C.                           NaN
Name: Total Cost of Attendance, Length: 496, dtype: float64

In [99]:
df.tail()

,Total Cost of Attendance,Full-Time Undergrads,Full-Time Nonresident Aliens,Percentage of Nonresident Aliens to All Undergrads,Policy: Need-based,Policy: Merit,Policy: No Aid,Percentage of Nonresident Aliens Receiving Aid,Average Aid Award,Average Cost with Aid,Expected Cost,Source
Institution,,,,,,,,,,,,
Wesleyan U.,73000.0,73000.0,364.0,12.0,True,True,False,24.0,64017.0,8983.0,57347.0,CDS 2018-2019
Western Washington U.,NaN,NaN,165.0,1.0,False,False,False,41.0,3591.0,NaN,NaN,CDS 2018-2019
Willamette U.,65964.0,65964.0,13.0,1.0,False,False,False,0.0,NaN,NaN,65964.0,CDS 2018-2019
William Jewell C.,NaN,NaN,NaN,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
Wofford C.,NaN,NaN,NaN,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN

In [100]:
df.loc['U. of Massachusetts - Amherst', 'Average Cost with Aid'] = 21858

In [101]:
df.loc['U. of Massachusetts - Amherst', 'Total Cost of Attendance'] = 31000

In [102]:
df.loc['U. of Massachusetts - Amherst', 'Expected Cost'] = 26175

In [103]:
df.head()

,Total Cost of Attendance,Full-Time Undergrads,Full-Time Nonresident Aliens,Percentage of Nonresident Aliens to All Undergrads,Policy: Need-based,Policy: Merit,Policy: No Aid,Percentage of Nonresident Aliens Receiving Aid,Average Aid Award,Average Cost with Aid,Expected Cost,Source
Institution,,,,,,,,,,,,
U. of Massachusetts - Amherst,31000.0,31000.0,1622.0,8.0,False,True,False,53.0,9142.0,21858.0,26175.0,CDS 2018-2019
U. of Alabama,26482.0,26482.0,589.0,2.0,False,True,False,17.0,32586.0,-6104.0,20894.0,CDS 2018-2019
New C. of Florida,20650.0,20650.0,5.0,1.0,False,True,False,100.0,23954.0,-3304.0,-3304.0,CDS 2018-2019
U. of Maine - Orono,25088.0,25088.0,170.0,2.0,False,True,False,76.0,25481.0,-393.0,5752.0,CDS 2018-2019
U. of Florida,0.0,0.0,742.0,2.0,False,False,True,0.0,0.0,0.0,0.0,CDS 2018-2019

In [104]:
df.dtypes

Total Cost of Attendance                              float64
Full-Time Undergrads                                  float64
Full-Time Nonresident Aliens                          float64
Percentage of Nonresident Aliens to All Undergrads    float64
Policy: Need-based                                     object
Policy: Merit                                          object
Policy: No Aid                                         object
Percentage of Nonresident Aliens Receiving Aid        float64
Average Aid Award                                     float64
Average Cost with Aid                                 float64
Expected Cost                                         float64
Source                                                 object
dtype: object

In [106]:
df.dtypes.reset_index()

                                                index        0
0                            Total Cost of Attendance  float64
1                                Full-Time Undergrads  float64
2                       Full-Time Nonresident Aliens   float64
3   Percentage of Nonresident Aliens to All Underg...  float64
4                                  Policy: Need-based   object
5                                       Policy: Merit   object
6                                      Policy: No Aid   object
7      Percentage of Nonresident Aliens Receiving Aid  float64
8                                   Average Aid Award  float64
9                               Average Cost with Aid  float64
10                                      Expected Cost  float64
11                                             Source   object

In [108]:
for i in range(4,7):
    df.iloc[:,i] = df.iloc[:,i].astype('bool')

In [109]:
df.tail()

,Total Cost of Attendance,Full-Time Undergrads,Full-Time Nonresident Aliens,Percentage of Nonresident Aliens to All Undergrads,Policy: Need-based,Policy: Merit,Policy: No Aid,Percentage of Nonresident Aliens Receiving Aid,Average Aid Award,Average Cost with Aid,Expected Cost,Source
Institution,,,,,,,,,,,,
Wesleyan U.,73000.0,73000.0,364.0,12.0,True,True,False,24.0,64017.0,8983.0,57347.0,CDS 2018-2019
Western Washington U.,NaN,NaN,165.0,1.0,False,True,False,41.0,3591.0,NaN,NaN,CDS 2018-2019
Willamette U.,65964.0,65964.0,13.0,1.0,False,True,False,0.0,NaN,NaN,65964.0,CDS 2018-2019
William Jewell C.,NaN,NaN,NaN,NaN,False,True,False,NaN,NaN,NaN,NaN,NaN
Wofford C.,NaN,NaN,NaN,NaN,False,True,False,NaN,NaN,NaN,NaN,NaN

In [114]:
df.dtypes

Total Cost of Attendance                              float64
Full-Time Undergrads                                  float64
Full-Time Nonresident Aliens                          float64
Percentage of Nonresident Aliens to All Undergrads    float64
Policy: Need-based                                       bool
Policy: Merit                                            bool
Policy: No Aid                                           bool
Percentage of Nonresident Aliens Receiving Aid        float64
Average Aid Award                                     float64
Average Cost with Aid                                 float64
Expected Cost                                         float64
dtype: object

In [116]:
df.to_csv('university-aid.csv')